<section class="articles">
    <div class="container">
        <div class="inner-wrapper grid">
            {% for category in mainCategories %}
            {% if category.articles|length %}
            <div class="section-col">
                <div class="category-title"><a href="/">
                    <h1>{{ category.name }}</h1></a></div>
                <ul class="category-articles">
                    {% for post in category.articles %}
                    <li class="category-article-item"><a class="media" href=""><img src="{{ post.image|media }}" alt=""></a><a class="title" href=""><span class="pre-title">{{ post.intro }}</span>
                        <h2>{{ post.title }}</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>{{ post.created_at| arabicDate('%A %e %B / %Y') }}</span></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>