<section id="articles">
    <div class="container">
        <div class="inner-wrapper grid">
            <div class="section-col">
                <div class="category-title"><a href="/">
                    <h1> في العمق</h1></a></div>
                <ul class="category-articles">
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/turkey.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>ماذا يقول أنصار عزل ترامب الآن؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                </ul>
            </div>
            <div class="section-col">
                <div class="category-title"><a href="/">
                    <h1> في العمق</h1></a></div>
                <ul class="category-articles">
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/turkey.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>ماذا يقول أنصار عزل ترامب الآن؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                </ul>
            </div>
            <div class="section-col">
                <div class="category-title"><a href="/">
                    <h1> في العمق</h1></a></div>
                <ul class="category-articles">
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/turkey.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>ماذا يقول أنصار عزل ترامب الآن؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                    <li class="category-article-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a><a class="title" href=""><span class="pre-title"> ماذا يقول أنصار عزل ترامب الآن؟</span>
                        <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        <div class="date"><span>   تم النشر بتاريخ :</span><span>   16 february, 2021 12:35 AM</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>