<section id="hero">
    <div class="section-wrapper">
        <div class="hero-grid">
            <div class="glide" id="hero-slider">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for slide in slider_items %}
                        <li class="hero-slide glide__slide">
                            <div class="overlay"></div>
                            <div class="hero-image"><img src="{{ slide.image|media }}" alt="{{ slide.slug }}"></div>
                            <div class="slide-content">
                                <div class="category">
                                    {% for category in slide.categories %}
                                    <a href="{{ 'posts-index'|page({ slug: category.slug }) }}">{{ category.name }}</a>
                                    {% endfor %}
                                </div>
                                <a class="title" href="{{ 'post-single'|page (({ date: slide.created_at|strftime('%d-%m-%Y')  ,slug: slide.slug })) }}"><h1>{{ slide.title }}</h1></a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="gallery-controls">
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--right" data-glide-dir="&gt;">
                            <span><svg width="25" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 15L11 10L6 5L7 3L14 10L7 17L6 15Z" fill="#64748b"/></svg></span>
                        </button>
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="&lt;">
                            <span><svg width="25" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 5L9 10L14 15L13 17L6 10L13 3L14 5Z" fill="#64748b"/></svg></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="special-reports">
                <div class="reports-list">
                    <a class="report-item" href="">
                        <div class="overlay"></div>
                        <div class="media"><img src="{{ top_report.image|media }}" alt="{{ top_report.slug }}"></div>
                        <div class="content">
                            <h1>{{ top_report.title }}</h1>
                            <span>   تقرير خاص</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
