<section id="latest-articles">
    <div class="container">
        <div class="section-grid">
            <div class="grid-2">
                <div class="title">
                    <h1> أحدث المقالات</h1>
                </div>
                <div class="recent-posts">
                    {% for post in latest_articles %}
                    <div class="recent-post-item"><a class="media" href=""><img src="{{ post.image|media }}" alt=""></a>
                        <div class="content">
                            {% for category in post.categories %}
                            <a class="post-category" href="">
                                <p>{{ category.name }}</p>
                            </a>
                            {% endfor %}
                            <a class="post-title" href="">
                                <h2>{{ post.title }}</h2>
                            </a>

                            <div class="post-time"><span>{{ post.updated_at| arabicDate('%A %e %B %Y') }}</span></div>
                            {{ app.locale }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="recent-post-item"><a class="media" href=""><img src="assets/images/turkey.jpg" alt=""></a>
                        <div class="content"><a class="post-category" href="">
                            <p>  تحقيقات</p></a><a class="post-title" href="">
                            <h2>ماذا يقول أنصار عزل ترامب الآن؟</h2></a>
                            <div class="post-time"><span>16 february, 2021 12:35 AM</span></div>
                        </div>
                    </div>
                    <div class="recent-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content"><a class="post-category" href="">
                            <p>  تحقيقات</p></a><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                            <div class="post-time"><span>16 february, 2021 12:35 AM</span></div>
                        </div>
                    </div>
                    <div class="recent-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content"><a class="post-category" href="">
                            <p>  تحقيقات</p></a><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                            <div class="post-time"><span>16 february, 2021 12:35 AM</span></div>
                        </div>
                    </div>
                    <div class="recent-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content"><a class="post-category" href="">
                            <p>  تحقيقات</p></a><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                            <div class="post-time"><span>16 february, 2021 12:35 AM</span></div>
                        </div>
                    </div>
                    <div class="recent-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content"><a class="post-category" href="">
                            <p>  تحقيقات</p></a><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                            <div class="post-time"><span>16 february, 2021 12:35 AM</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-1">
                <div class="title">
                    <h1> الأكثر قراءة</h1>
                </div>
                <div class="popular-posts">
                    <div class="popular-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content">
                            <div class="rate"><span>1</span></div><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        </div>
                    </div>
                    <div class="popular-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content">
                            <div class="rate"><span>2</span></div><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        </div>
                    </div>
                    <div class="popular-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content">
                            <div class="rate"><span>3</span></div><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        </div>
                    </div>
                    <div class="popular-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content">
                            <div class="rate"><span>4</span></div><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        </div>
                    </div>
                    <div class="popular-post-item"><a class="media" href=""><img src="assets/images/usa.jpg" alt=""></a>
                        <div class="content">
                            <div class="rate"><span>5</span></div><a class="post-title" href="">
                            <h2>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته تبرئة أنصاره من اقتحام الكونغرس؟</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>