<section id="videos">
    <div class="section-bg"></div>
    <div class="section-wrapper">
        <div class="section-title">
            <h2>فيديوهات</h2>
        </div>
        <div class="section-content">
            <a class="main-video" href="{{ 'video-post'|page({ date: mainVideo.created_at|strftime('%d-%m-%Y')  ,video: mainVideo.slug }) }}">
                <div class="media">
                    <div class="play-icon"><svg width="60" height="60" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 4L15 10L5 16V4Z" fill="white"/>
                    </svg>
                    </div><img src="{{ mainVideo.image|media }}" alt="">
                </div>
                <div class="title">
                    <h2>{{ mainVideo.title }}</h2>
                </div>
            </a>
            <div class="videos-container">
                <div class="glide" id="video-slider">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for video in videos %}
                            <li class="video-slide-item glide__slide"><a href="{{ 'video-post'|page({ date: video.created_at|strftime('%d-%m-%Y')  ,video: video.slug }) }}">
                                <div class="media">
                                    <div class="play-icon"><svg width="40" height="40" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 4L15 10L5 16V4Z" fill="white"/>
                                    </svg>
                                    </div><img src="{{ video.image|media }}" alt="">
                                </div>
                                <div class="title">
                                    <h2>{{ video.title }}</h2>
                                </div></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="gallery-controls">
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--right" data-glide-dir="&gt;"><span><svg width="40" height="40" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 15L11 10L6 5L7 3L14 10L7 17L6 15Z" fill="white"/>
</svg></span></button>
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="&lt;"><span><svg width="40" height="40" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14 5L9 10L14 15L13 17L6 10L13 3L14 5Z" fill="white"/>
</svg></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

