<div class="miracle-banner">
    <div class="wrapper">
        <div class="holder">
            <div class="overlay"></div>
            <div class="bg-image"><img data-src="{{ 'assets/images/ad-clients/miracle/hair-transplant-turkey.jpg'|theme }}" alt="hair-transplant-turkey"></div>
            <div class="banner-content">
                <div class="right-side">
                    <h2> تخلص من الصلع و من تساقط <br> الشعر في ٣ أيام</h2>
                    <p>
                        من خلال التقنيات الحديثة لزراعة الشعر بتركيا - وبمساعدة نخبة من الأطباء  <br>
                        المتخصصين بعيادة ميراكل كلينيك لزراعة الشعر باسطنبول <br>
                        يمكنك التخلص تماما من الصلع.

                    </p><a class="contact" href="https://wa.me/905466974646" target="_blank"> لمزيد من المعلومات</a>
                </div>
                <div class="left-side"><a class="miracle-logo" href="https://miraclehairturkey.com" target="_blank"><img src="{{ 'assets/images/ad-clients/miracle/mhc_logo.svg'|theme }}" alt="miracle_hair_turkey"></a></div>
            </div>
        </div>
    </div>
</div>