<section id="banHorizontal_lg">
    <div class="wrapper">
        <a class="banner-container" href="https://www.180news.net/go/6cJg9">
            <div class="overlay"></div>
            <div class="bg-image"><img src="{{ 'assets/images/banners/film___Super_Portrait.jpg'|theme }}" alt="180_news_ads_banner"></div>
            <div class="content">
                <div class="banner-text">
                    <div class="heading-01"><span> على</span><span><img src="{{ 'assets/images/180_logo_dark.svg'|theme }}" alt="180_investigations_logo"></span></div>
                    <div class="description">
                        <p>
                            أسرار  وحكايات الإذاعة والاعلام المصري في خمسين عاما
                            يكشفها.. الإذاعي الكبير <br>  السيد الغضبان... لمني سلمان
                        </p>
                    </div>
                    <div class="heading-02">
                        <p></p>
                    </div>
                </div>
                <div class="photos">
                    <div class="photo_01"><img src="{{ 'assets/images/banners/guest_01.PNG'|theme }}" alt="180_news_sayyed_elghadban"></div>
                    <div class="photo_02"><img src="{{ 'assets/images/banners/guest_02.PNG'|theme }}" alt="180_news_mona_salman"></div>
                </div>
            </div>
        </a>
    </div>
</section>

