<section class="banner_t01" id="banner-02">
    <div class="wrapper">
        <div class="banner-container"><span>
                <p class="new">  إعلان</p></span>
            <div class="overlay"></div>
            <div class="media"><img data-src="{{ 'assets/images/tv180-03.jpg'|theme }}" alt=""></div>
            <div class="content">
                <div class="title">
                    <h3>  قناة 180 درجة</h3>
                </div><a class="page-link" href="">   استكشف المزيد</a>
            </div>
        </div>
    </div>
</section>