<section class="banner-type--01" id="banner-02">
    <div class="wrapper">
        <div class="banner-container">
            <div class="overlay"></div>
            <div class="media"><img src="{{ 'assets/images/tv180-03.jpg'|theme }}" alt="180-tv"></div>
            <div class="content">
                <div class="title"><span>
                    <p class="new">  إعلان</p></span>
                    <h3>  قناة 180 درجة</h3>
                </div><a class="page-link" href="https://180tvc.com">   استكشف المزيد</a>
            </div>
        </div>
    </div>
</section>