description = "A default layout for CMS Pages"
==
<?php
use Midorsoft\Publish\Models\Setting;
use Midorsoft\Publish\Models\Category;
use Midorsoft\Publish\Models\Author;
use Midorsoft\Publish\Models\Tag;
use Midorsoft\Publish\Models\Article;
use Carbon\Carbon;

function onStart(){

    $this['settings'] = Setting::instance();
    $this['main_menu'] = Category::where('in_menu', 1)->where('is_active', 1)->orderBy('sort_order', 'asc')->get();
    $this['other_menu'] = Category::where('in_menu', 0)->where('is_active', 1)->orderBy('sort_order', 'asc')->get();

    $this['slider_items'] = Article::where('is_active', 1)->where('in_slider', 1)->orderBy('updated_at', 'desc')->take(5)->get();
    $this['top_report'] = Article::where('is_active', 1)->where('is_vip_post', 1)->orderBy('updated_at', 'desc')->first();
    $this['latest_articles'] = Article::where('is_active', 1)->orderBy('updated_at', 'desc')->take(5)->get();

    $this['mainCategories'] = Category::where('is_active', 1)->with(['articles' => function ($query) {
        $query->orderBy('updated_at', 'desc')->take(5)->get();
    } ])->take(3)->get();


}
?>
==
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    {% partial 'site/blocks/head-links' %}
    {% styles %}
    <title> {{ this.page.title }} | {{ settings.site_name }}</title>
</head>
<body>

{% partial 'site/header' %}

    <main>
        {% page %}
    </main>

{% partial 'site/footer' %}
{% partial 'site/blocks/footer-scripts' %}

</body>
</html>