{% if Cat01Posts.articles|length %}
<section class="category-listing">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="{{ 'posts-index'|page ({ category: Cat01Posts.slug }) }}">
            <h2>{{ Cat01Posts.name }}</h2></a><a class="section-link" href="{{ 'posts-index'|page ({ category: Cat01Posts.slug }) }}"> استعرض المزيد</a></div>
        <div class="grid-container">
            {% partial 'ad-units/unit-02' %}
            {% for post in Cat01Posts.articles %}
            <div class="latest-article--item">
                <a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                    <img data-src="{{ post.image|media }}" alt="{{ post.slug }}" width="100%" height="100%">
                </a>
                <div class="content"><a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">{{ post.title }}</a></div>
            </div>
            {% endfor %}
            {% partial 'ad-units/unit-02' %}
        </div>
    </div>
</section>
{% endif %}

{% if Cat02Posts.articles|length %}
<section class="category-listing">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="{{ 'posts-index'|page ({ category: Cat02Posts.slug }) }}">
            <h2>{{ Cat02Posts.name }}</h2></a><a class="section-link" href="{{ 'posts-index'|page ({ category: Cat02Posts.slug }) }}"> استعرض المزيد</a></div>
        <div class="grid-container">
            {% partial 'ad-units/unit-02' %}
            {% for post in Cat02Posts.articles %}
            <div class="latest-article--item">
                <a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                    <img data-src="{{ post.image|media }}" alt="{{ post.slug }}" width="100%" height="100%">
                </a>
                <div class="content"><a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">{{ post.title }}</a></div>
            </div>
            {% endfor %}
            {% partial 'ad-units/unit-02' %}
        </div>
    </div>
</section>
{% endif %}

{% if Cat03Posts.articles|length %}
<section class="category-listing">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="{{ 'posts-index'|page ({ category: Cat03Posts.slug }) }}">
            <h2>{{ Cat03Posts.name }}</h2></a><a class="section-link" href="{{ 'posts-index'|page ({ category: Cat03Posts.slug }) }}"> استعرض المزيد</a></div>
        <div class="grid-container">
            {% partial 'ad-units/unit-02' %}
            {% for post in Cat03Posts.articles %}
            <div class="latest-article--item">
                <a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                    <img data-src="{{ post.image|media }}" alt="{{ post.slug }}" width="100%" height="100%">
                </a>
                <div class="content"><a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">{{ post.title }}</a></div>
            </div>
            {% endfor %}
            {% partial 'ad-units/unit-02' %}
        </div>
    </div>
</section>
{% endif %}

{% if Cat04Posts.articles|length %}
<section class="category-listing">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="{{ 'posts-index'|page ({ category: Cat04Posts.slug }) }}">
            <h2>{{ Cat04Posts.name }}</h2></a><a class="section-link" href="{{ 'posts-index'|page ({ category: Cat04Posts.slug }) }}"> استعرض المزيد</a></div>
        <div class="grid-container">
            {% partial 'ad-units/unit-02' %}
            {% for post in Cat04Posts.articles %}
            <div class="latest-article--item">
                <a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                    <img data-src="{{ post.image|media }}" alt="{{ post.slug }}" width="100%" height="100%">
                </a>
                <div class="content"><a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">{{ post.title }}</a></div>
            </div>
            {% endfor %}
            {% partial 'ad-units/unit-02' %}
        </div>
    </div>
</section>
{% endif %}

{% if Cat05Posts.articles|length %}
<section class="category-listing">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="{{ 'posts-index'|page ({ category: Cat05Posts.slug }) }}">
            <h2>{{ Cat05Posts.name }}</h2></a><a class="section-link" href="{{ 'posts-index'|page ({ category: Cat05Posts.slug }) }}"> استعرض المزيد</a></div>
        <div class="grid-container">
            {% partial 'ad-units/unit-02' %}
            {% for post in Cat05Posts.articles %}
            <div class="latest-article--item">
                <a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                    <img data-src="{{ post.image|media }}" alt="{{ post.slug }}" width="100%" height="100%">
                </a>
                <div class="content"><a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">{{ post.title }}</a></div>
            </div>
            {% endfor %}
            {% partial 'ad-units/unit-02' %}
        </div>
    </div>
</section>
{% endif %}

{% if Cat06Posts.articles|length %}
<section class="category-listing">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="{{ 'posts-index'|page ({ category: Cat06Posts.slug }) }}">
            <h2>{{ Cat06Posts.name }}</h2></a><a class="section-link" href="{{ 'posts-index'|page ({ category: Cat06Posts.slug }) }}"> استعرض المزيد</a></div>
        <div class="grid-container">
            {% partial 'ad-units/unit-02' %}
            {% for post in Cat06Posts.articles %}
            <div class="latest-article--item">
                <a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                    <img data-src="{{ post.image|media }}" alt="{{ post.slug }}" width="100%" height="100%">
                </a>
                <div class="content"><a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">{{ post.title }}</a></div>
            </div>
            {% endfor %}
            {% partial 'ad-units/unit-02' %}
        </div>
    </div>
</section>
{% endif %}