<section class="latest-articles">
    <div class="wrapper">
        <div class="title-area">
            <a class="section-title" href="">
                <h2> أحدث الموضوعات</h2>
            </a>
            <a class="section-link" href=""> استعرض المزيد</a>
        </div>
        <div class="grid-container">
            {% partial 'ad-units/unit-02' %}
            {% for post in latest_articles %}
            <div class="latest-article--item">
                <a class="media" href="/">
                    {% if post.is_video_post %}
                    <div class="video-indicator">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="18px" height="18px">
                                <path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/>
                            </svg>
                        </span>
                        <span> فيديو</span>
                    </div>
                    {% endif %}
                    <img data-src="{{ post.image|media }}" alt="{{ post.slug }}" width="100%" height="100%">
                </a>
                <div class="content">
                    <div class="category">
                        <a href="{{ 'posts-index'|page({ category: post.category.slug }) }}">{{ post.category.name }}</a>
                    </div>
                    <a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                        {{ post.title }}
                    </a>
                </div>
            </div>
            {% endfor %}
            {% partial 'ad-units/unit-02' %}
        </div>
    </div>
</section>