<section class="latest-articles">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="">
            <h2> أحدث الموضوعات</h2></a><a class="section-link" href=""> استعرض المزيد</a></div>
        <div class="grid-container">
            <div class="latest-article--item"><a class="media" href="/"><img src="assets/images/usa.jpg" alt=""></a>
                <div class="content">
                    <div class="category"><a href="/">  مقالات و تحليلات</a></div><a class="title" href="/">قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته..؟</a>
                    <div class="meta-data"><a class="author" href="/">
                        <div class="author-img"><img src="assets/images/yasinaktay.png" alt=""></div>
                        <div class="author-name">
                            <p> ياسين أقطاي</p>
                        </div></a>
                        <div class="create-date"><span>13-03-2020</span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#c2ccda" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></svg></span></div>
                    </div>
                </div>
            </div>
            <div class="latest-article--item"><a class="media" href="/"><img src="assets/images/turkey.jpg" alt=""></a>
                <div class="content">
                    <div class="category"><a href="/">  مقالات و تحليلات</a></div><a class="title" href="/">ماذا يقول أنصار عزل ترامب الآن؟</a>
                    <div class="meta-data"><a class="author" href="/">
                        <div class="author-img"><img src="assets/images/yasinaktay.png" alt=""></div>
                        <div class="author-name">
                            <p> ياسين أقطاي</p>
                        </div></a>
                        <div class="create-date"><span>13-03-2020</span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#c2ccda" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></svg></span></div>
                    </div>
                </div>
            </div>
            <div class="latest-article--item"><a class="media" href="/"><img src="assets/images/usa.jpg" alt=""></a>
                <div class="content">
                    <div class="category"><a href="/">  مقالات و تحليلات</a></div><a class="title" href="/">قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته..؟</a>
                    <div class="meta-data"><a class="author" href="/">
                        <div class="author-img"><img src="assets/images/yasinaktay.png" alt=""></div>
                        <div class="author-name">
                            <p> ياسين أقطاي</p>
                        </div></a>
                        <div class="create-date"><span>13-03-2020</span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#c2ccda" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></svg></span></div>
                    </div>
                </div>
            </div>
            <div class="latest-article--item"><a class="media" href="/"><img src="assets/images/turkey.jpg" alt=""></a>
                <div class="content">
                    <div class="category"><a href="/">  مقالات و تحليلات</a></div><a class="title" href="/">ماذا يقول أنصار عزل ترامب الآن؟</a>
                    <div class="meta-data"><a class="author" href="/">
                        <div class="author-img"><img src="assets/images/yasinaktay.png" alt=""></div>
                        <div class="author-name">
                            <p> ياسين أقطاي</p>
                        </div></a>
                        <div class="create-date"><span>13-03-2020</span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#c2ccda" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></svg></span></div>
                    </div>
                </div>
            </div>
            <div class="latest-article--item"><a class="media" href="/"><img src="assets/images/usa.jpg" alt=""></a>
                <div class="content">
                    <div class="category"><a href="/">  مقالات و تحليلات</a></div><a class="title" href="/">قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل على الرئيس أثناء محاولته..؟</a>
                    <div class="meta-data"><a class="author" href="/">
                        <div class="author-img"><img src="assets/images/yasinaktay.png" alt=""></div>
                        <div class="author-name">
                            <p> ياسين أقطاي</p>
                        </div></a>
                        <div class="create-date"><span>13-03-2020</span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#c2ccda" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></svg></span></div>
                    </div>
                </div>
            </div>
            <div class="latest-article--item"><a class="media" href="/"><img src="assets/images/turkey.jpg" alt=""></a>
                <div class="content">
                    <div class="category"><a href="/">  مقالات و تحليلات</a></div><a class="title" href="/">ماذا يقول أنصار عزل ترامب الآن؟</a>
                    <div class="meta-data"><a class="author" href="/">
                        <div class="author-img"><img src="assets/images/yasinaktay.png" alt=""></div>
                        <div class="author-name">
                            <p> ياسين أقطاي</p>
                        </div></a>
                        <div class="create-date"><span>13-03-2020</span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#c2ccda" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></svg></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>