<section class="special-reports">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="">
            <h2> تقارير خاصة</h2></a><a class="section-link" href=""> استعرض المزيد</a></div>
        <div class="grid-container">
            {% for report in special_reports %}
            <a class="spacial-report--item" href="{{ 'post-single'|page ({ date: report.created_at|strftime('%d-%m-%Y')  ,slug: report.slug }) }}">
                <div class="media">
                    <div class="overlay"></div><img src="{{ report.image|media }}" alt="{{ report.slug }}">
                </div>
                <div class="content">
                    <div class="category">
                        <p>تقرير خاص</p>
                    </div>
                    <h2 class="title">{{ report.title }}</h2>
                    <div class="author">
                        <div class="author-img"><img src="{{ report.author.photo|media }}" alt="{{ report.author.slug }}"></div>
                        <div class="author-name">
                            <p>{{ report.author.name }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>