<section class="category-top-posts">
    <div class="wrapper">
        <div class="title-area">
            <a class="section-title" href="#">
                <h2> الأكثر قراءة</h2>
            </a>
        </div>
        <div class="grid-container">
            {% for post in topPosts %}
            <a class="top10--item" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                <div class="media">
                    <div class="position">
                        <p>{{ loop.index }}</p>
                    </div>
                    <div class="overlay"></div><img src="{{ post.image|media }}" alt="{{ post.slug }}">
                </div>
                <div class="content">
                    <h2 class="title">{{ post.title }}</h2>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>