<section class="videos">
    <div class="wrapper">
        <div class="title-area"><a class="section-title" href="">
            <h2> فيديوهات</h2></a><a class="section-link" href=""> استعرض المزيد</a></div>
        <div class="glide" id="videos-slider">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <div class="video--item"><a class="media" href="">
                        <div class="play-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="60px" height="60px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></div>
                        <div class="overlay"></div><img src="assets/images/turkey.jpg" alt=""></a><a class="title" href="">
                        <h3>ماذا يقول أنصار عزل ترامب الآن؟</h3></a></div>
                    <div class="video--item"><a class="media" href="">
                        <div class="play-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="60px" height="60px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></div>
                        <div class="overlay"></div><img src="assets/images/usa.jpg" alt=""></a><a class="title" href="">
                        <h3>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل؟</h3></a></div>
                    <div class="video--item"><a class="media" href="">
                        <div class="play-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="60px" height="60px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></div>
                        <div class="overlay"></div><img src="assets/images/turkey.jpg" alt=""></a><a class="title" href="">
                        <h3>ماذا يقول أنصار عزل ترامب الآن؟</h3></a></div>
                    <div class="video--item"><a class="media" href="">
                        <div class="play-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="60px" height="60px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></div>
                        <div class="overlay"></div><img src="assets/images/usa.jpg" alt=""></a><a class="title" href="">
                        <h3>قاطع ترامب وصرخ في وجهه! مسؤول أمريكي ينفعل؟</h3></a></div>
                    <div class="video--item"><a class="media" href="">
                        <div class="play-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="60px" height="60px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></div>
                        <div class="overlay"></div><img src="assets/images/turkey.jpg" alt=""></a><a class="title" href="">
                        <h3>ماذا يقول أنصار عزل ترامب الآن؟</h3></a></div>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--right" data-glide-dir="&gt;"><span><svg width="30" height="30" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 15L11 10L6 5L7 3L14 10L7 17L6 15Z" fill="#ffffff7d"/>
</svg></span></button>
                <button class="glide__arrow glide__arrow--left" data-glide-dir="&lt;"><span><svg width="30" height="30" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14 5L9 10L14 15L13 17L6 10L13 3L14 5Z" fill="#ffffff7d"/>
</svg></span></button>
            </div>
        </div>
    </div>
</section>