description = "A layout for pages"
==
<?php
use Midorsoft\Publish\Models\Setting;
use Midorsoft\Publish\Models\Category;
use Midorsoft\Publish\Models\Author;
use Midorsoft\Publish\Models\Tag;
use Midorsoft\Publish\Models\Article;
use Carbon\Carbon;
function onStart() {
    $this['settings'] = Setting::instance();
    $this['main_menu'] = Category::where('in_menu', 1)->where('is_active', 1)->orderBy('sort_order', 'asc')->get();
    $this['other_menu'] = Category::where('in_menu', 0)->where('is_active', 1)->orderBy('sort_order', 'asc')->get();
    $this['top_posts'] = Article::where('is_active', 1)->orderBy('visits', 'Desc')->take(5)->get();
    $this['recommends'] = Article::where('is_active', 1)->inRandomOrder()->take(6)->get();

}
?>
==
<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        {% partial 'blocks/head' %}
        <!--start css-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500;700&amp;display=swap">
        <link rel="stylesheet" href="{{ 'assets/css/plyr.css'|theme }}">
        <link rel="stylesheet" href="{{'assets/css/glide.core.min.css'|theme}}">
        <link rel="stylesheet" href="{{ 'assets/css/tailwind.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/app.min.css'|theme }}">

        <title> {{ this.page.title }} | {{ settings.site_name }}</title>
    </head>
    <body>
        {% partial 'site/header' %}
        <main>
            {% page %}
        </main>
        {% partial 'site/footer' %}
        <script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script>
        <script src="{{'assets/js/glide.js'|theme}}"></script>
        <script src="{{ 'assets/js/app.min.js'|theme }}"></script>
    </body>
</html>