description = "A layout for pages"
==
<?php
use Midorsoft\Publish\Models\Setting;
use Midorsoft\Publish\Models\Category;
use Midorsoft\Publish\Models\Author;
use Midorsoft\Publish\Models\Tag;
use Midorsoft\Publish\Models\Article;
use Carbon\Carbon;
function onStart() {
    $this['settings'] = Setting::instance();
    $this['main_menu'] = Category::where('in_menu', 1)->where('is_active', 1)->orderBy('sort_order', 'asc')->get();
    $this['other_menu'] = Category::where('in_menu', 0)->where('is_active', 1)->orderBy('sort_order', 'asc')->get();
    $this['top_posts'] = Article::where('is_active', 1)->orderBy('visits', 'Desc')->take(10)->get();
    $this['recommends'] = Article::where('is_active', 1)->inRandomOrder()->take(12)->get();

}
?>
==
<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        {% partial 'blocks/head' %}
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&amp;display=swap">
        <!--css-->
        <link rel="stylesheet" href="https://vjs.zencdn.net/7.11.4/video-js.css">
        <link rel="stylesheet" href="{{ 'assets/css/splide.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/tailwind.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/app.min.css?v=2.1'|theme }}">
        <title> {{ this.page.title }} | {{ settings.site_name }}</title>

    </head>
    <body>
        <div id="app">
            <div class="hero_ad-unit">
                <div class="wrapper">
                    {% partial 'ad-units/unit-01' %}
                </div>
            </div>
            {% partial 'site/header' %}
            <main>
                {% page %}
            </main>
            {% partial 'site/footer' %}
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="{{ 'assets/js/splide.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/video.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/Youtube.min.js'|theme }}" defer></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="{{ 'assets/js/app.min.js?v=2.1'|theme }}"></script>
        {% partial 'blocks/footer-scripts' %}
    </body>
</html>