title = "posts-index"
url = "/categories/:category"
layout = "default"
is_hidden = 0
==
<?php
use Midorsoft\Publish\Models\Setting;
    use Midorsoft\Publish\Models\Category;
    use Midorsoft\Publish\Models\Article;
function onStart()
{
    $segments = \Request::segments();
    $slug_un  = $segments[1];
    $slug     = urldecode($slug_un);

    $this['category'] = Category::where('slug', $slug)->where('is_active', 1)->first();
    $category = Category::where('slug', $slug)->where('is_active', 1)->first();
    $this['articles'] = Article::where('is_active', 1)->where('category_id', $category->id)->OrderBy('created_at', 'desc')->paginate(9);
    $this['count'] = Article::where('is_active', 1)->where('category_id', $category->id)->count();
    $this->page->title = $this['category']->name;
    $this->page->meta_description = $this['category']->meta_desc;

}
?>
==
<article id="posts-index">
    <div class="wrapper">
        <div class="category-title-area">
            <div class="title">
                <h1>{{ category.name }}</h1>
            </div>
            <div class="posts-count">
                <p><span> عدد المقالات :</span><span> {{ count }}</span><span> مقالا</span></p>
            </div>
        </div>

        <section class="posts-list">
            <div class="grid-container">
                {% if category.articles|length %}
                {% for post in articles %}
                <div class="latest-article--item"><a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                    {% if post.is_video_post %}
                    <div class="video-indicator">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg></span>
                        <span> فيديو</span>
                    </div>
                    {% endif %}
                    <img src="{{ post.image|media }}" alt="{{ post.slug }}"></a>
                    <div class="content">
                        <a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                            {{ post.title }}
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if articles.hasPages %}
            <div class="pagination-area">
                <div class="paginate-container">
                    {% if articles.currentPage > 1 %}
                    <a class="previous" href="{{ articles.previousPageUrl }}">    السابق</a>
                    {% endif %}
                    <div class="page-indicator">
                        <span>   صفحة</span>
                        <span class="current_page"   {{ articles.currentPage }}</span>
                        <span>   من</span>
                        <span class="last_page">   {{ articles.lastPage }}</span>
                    </div>
                    {% if articles.hasMorePages %}
                    <a class="next" href="{{ articles.nextPageUrl }}">    التالي</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </section>
        {% partial 'site/top-posts' %}
    </div>
</article>