title = "search"
url = "/search/"
layout = "default"
is_hidden = 0

==
<?php
use Illuminate\Database\Eloquent\Builder;
use Midorsoft\Publish\Models\Article;
function onStart()
{
    $url = parse_url($_SERVER['REQUEST_URI']);
    $segments = parse_url($_SERVER['REQUEST_URI'], PHP_URL_QUERY);

    $query = str_split($segments);
    $filtered = array_splice($query, 2);
    $searchTerm = urldecode(implode($filtered));
    $this['searchTerm'] = $searchTerm;
    $this['search'] = Article::query()
    ->whereLike('title', $searchTerm)
    ->whereLike('content', $searchTerm)
    ->get();
}
?>
==
<article id="search-results">
    <div class="wrapper">
        <div class="category-title-area">
            <div class="overlay"></div>
            <div class="category-bg"><img src="{{ 'assets/images/search-results.jpg'|theme }}" alt="180-news-search-results"></div>
            <div class="title"><span>   نتائج البحث عن:</span>
                <h1><span>   " {{ searchTerm }} "</span></h1>
                <p><span> عدد النتائج :</span><span> {{ search.count }}</span></p>
            </div>
        </div>
        <div class="page-grid">
            <div class="search-results">
                <ul class="post-results--list">
                    {% for post in search %}
                    <li class="post-result-list--item">
                        <div class="media"><img src="{{ post.image|media }}" alt="{{ post.slug }}"></div>
                        <div class="content"><a class="category" href="{{ 'posts-index'|page({ category: post.category.slug }) }}">{{ post.category.name }}</a>
                            <a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                            <h2>{{ post.title }}</h2></a>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="sidebar-left">
                {% partial 'site/recommend-posts' %}
            </div>
        </div>
    </div>
</article>
<article id="posts-index">
    <div class="wrapper">
        <div class="category-title-area">
            <div class="overlay"></div>
            <div class="category-bg"><img src="{{ 'assets/images/search-results.jpg'|theme }}" alt="180-news-{{ tag.slug }}"></div>
            <div class="title">
                <h1>{{ searchTerm }}</h1>
                <p><span> عدد المقالات تحت هذه الكلمة المفتاحية :</span><span> {{ posts.count }}</span></p>
            </div>
        </div>
        <section class="posts-list">
            <div class="grid-container">
                {% if posts|length %}
                {% for post in posts %}
                <div class="latest-article--item">
                    <a class="media" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                        {% if post.is_video_post %}
                        <div class="video-indicator"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg></span><span> فيديو</span></div>
                        {% endif %}
                        <img src="{{ post.image|media }}" alt="{{ post.slug }}">

                    </a>
                    <div class="content"><a class="title" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">{{ post.title }}</a>
                        <div class="meta-data"><a class="author" href="{{ 'author-profile'|page ({ author: post.author.slug }) }}">
                            <div class="author-img"><img src="{{ post.author.photo|media }}" alt="{{ post.author.slug }}"></div>
                            <div class="author-name">
                                <p>{{ post.author.name }}</p>
                            </div></a>
                            <div class="create-date"><span>{{ post.created_at|strftime('%d-%m-%Y') }}</span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#c2ccda" width="20px" height="20px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></svg></span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if posts.hasPages %}
            <div class="pagination-area">
                <div class="paginate-container">
                    {% if posts.currentPage > 1 %}
                    <a class="previous" href="{{ posts.previousPageUrl }}">    السابق</a>
                    {% endif %}
                    <div class="page-indicator"><span>   صفحة</span><span>   {{ posts.currentPage }}</span><span>   من</span><span>   {{ posts.lastPage }}</span></div>
                    {% if posts.hasMorePages %}
                    <a class="next" href="{{ posts.nextPageUrl }}">    التالي</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </section>
        {% partial 'site/top-posts' %}
    </div>
</article>