title = "videos-index"
url = "/فيديو"
layout = "default"
is_hidden = 0
==
<?php
    use Midorsoft\Publish\Models\Setting;
    use Midorsoft\Publish\Models\Category;
    use Midorsoft\Publish\Models\Article;
function onStart()
{
    $this['articles'] = Article::where('is_active', 1)->where('is_video_post', 1)->OrderBy('updated_at', 'desc')->paginate(9);
    $this['count'] = Article::where('is_active', 1)->where('is_video_post', 1)->count();
}
?>
==
<article id="videos-index">
    <div class="wrapper">
        <div class="category-title-area">
            <div class="title">
                <h1> فيديوهات</h1>
            </div>
            <div class="posts-count">
                <p><span> عدد الفيديوهات :</span><span> {{ count }}</span><span> فيديو</span></p>
            </div>
        </div>
        <section class="live-stream">
            <div class="stream-grid">
                <div class="right-side"><span class="stream-label"> البث المباشر</span>
                    <div class="stream-screen">
                        <video
                                id="VideoPageStream"
                                class="video-js vjs-default-skin"
                                controls
                                autoplay
                                width="640" height="264"
                                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{ settings.live_stream_link }}"}] }'
                        >
                        </video>
                    </div>
                    <div class="stream-title">
                        <h2>{{ settings.live_stream_title }}</h2>
                    </div>
                    <div class="stream-description">
                        <p>{{ settings.live_stream_desc }}</p>
                    </div>
                </div>
                <div class="left-side">
                    {% partial 'ad-units/unit-05' %}
                </div>
            </div>
        </section>
        <div class="grid-container">
            {% for post in articles %}
            <a class="video--item" href="{{ 'post-single'|page ({ date: post.created_at|strftime('%d-%m-%Y')  ,slug: post.slug }) }}">
                <div class="media">
                    <div class="play-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="60px" height="60px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></div>
                    <div class="overlay"></div><img src="{{ post.image|media }}" alt="{{ post.slug }}"/>
                </div>
                <div class="title">
                    <h3>{{ post.title }}</h3>
                </div>
            </a>
            {% endfor %}

        </div>
        {% if articles.hasPages %}
        <div class="pagination-area">
            <div class="paginate-container">
                {% if articles.currentPage > 1 %}
                <a class="previous" href="{{ articles.previousPageUrl }}">    السابق</a>
                {% endif %}
                <div class="page-indicator">
                    <span>   صفحة</span>
                    <span class="current_page">   {{ articles.currentPage }}</span>
                    <span>   من</span>
                    <span class="last_page">   {{ articles.lastPage }}</span>
                </div>
                {% if articles.hasMorePages %}
                <a class="next" href="{{ articles.nextPageUrl }}">    التالي</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</article>