<div class="ad_banner_block ad_block_01">
    <div class="wrapper"><span class="ad-label">  مساحة إعلانية</span>
        <div class="ad-container" align="center">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Ads_home -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8669361533184979"
                 data-ad-slot="4676313587"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>