<div class="hero_ad_banner" id="hero_ad_banner">
    <div class="close-icon" id="hero_ad_close"><svg width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 6L10 11L15 6L17 7L10 14L3 7L5 6Z" fill="white"/>
    </svg>
    </div>
    <div class="wrapper"><span class="ad-label">  مساحة إعلانية</span>
        <div class="ad-container" align="center">

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Header_Hero -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8669361533184979"
                 data-ad-slot="8697952093"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
    </div>
</div>