<footer>
    <div class="wrapper">
        <div class="footer-grid">
            <div class="logo-container"><a class="logo-light" href="/"><img src="{{'assets/images/180_logo_light.svg'|theme}}" alt="180_investigations_logo"></a>
                <p class="copyright">    جميع الحقوق محفوظة © 2021</p>
                <div class="developer"><span>   تصميم و برمجة بواسطة</span><span><a href="">Midorsoft Systems</a></span></div>
            </div>
            <div class="service-links">
                <p class="title">    خدمات</p>
                <ul class="services">
                    <li><a href=""> أعلن معنا</a></li>
                    <li><a href=""> إدارة الموقع</a></li>
                    <li><a href=""> تواصل معنا</a></li>
                </ul>
            </div>
            <div class="legal-pages">
                <p class="title">    سياسات الموقع</p>
                <ul class="legal-links">
                    <li><a href=""> خصوصية المستخدم</a></li>
                    <li><a href=""> حقوق الطبع و النشر</a></li>
                    <li><a href=""> تواصل معنا</a></li>
                </ul>
            </div>
            <div class="other-links">
                <p class="title">    روابط أخرى</p>
                <ul class="others">
                    <li><a href=""> أعلن معنا</a></li>
                    <li><a href=""> إدارة الموقع</a></li>
                    <li><a href=""> تواصل معنا</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>