<header>
    <div class="top-area">
        <div class="wrapper">
            <div class="header-right">
                <a class="logo-light" href="/">
                    <img src="{{ 'assets/images/180_logo_dark.svg'|theme }}" alt="180_news_logo">
                </a>
                <a class="logo-dark" href="/">
                    <img src="{{ 'assets/images/180_logo_dark.svg'|theme }}" alt="180_investigations_logo">
                </a>
            </div>
            <div class="header-middle"></div>
            <div class="header-left">
                <div class="header-live-stream">
                    <a href="/">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" /></svg></span>
                        <span>   البث المباشر</span>
                    </a>
                </div>
                <div class="search-btn">
                    <button type="button" v-on:click="checkSearch">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </span>
                    </button>
                </div>
                <button class="mobile-menu-btn" v-on:click="checkMobileMenu">
                    <div class="burger-btn">
                        <div class="top bar"></div>
                        <div class="middle bar"></div>
                        <div class="bottom bar"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="search-area" v-if="showSearch">
        <div class="wrapper">
            <form action="{{ 'search' | page }}" method="get">
                <input id="search" name="q" type="search" autocomplete="off" placeholder="ابحث خلال المواضيع و الفيديوهات">
                <button type="submit">ابحث</button>
            </form>
        </div>
    </div>

    <div class="menu-area">
        <div class="wrapper">
            <nav class="main-menu">
                <ul>
                    {% for item in main_menu %}
                    <li><a href="{{ 'posts-index'|page({ category: item.slug }) }}">{{ item.name }}</a></li>
                    {% endfor %}
                    <li><a href="{{ 'videos-index'|page }}">فيديوهات</a></li>
                    {% if other_menu|length %}
                    <li class="dropdown">
                        <a class="dropdown-link" href="/">
                            <span>المزيد</span>
                            <span class="dropdown-icon">
                                <svg width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6L10 11L15 6L17 7L10 14L3 7L5 6Z" fill="black"/>
                                </svg>
                            </span>
                        </a>
                        <ul class="dropdown-list">
                            {% for item in other_menu %}
                            <li><a href="{{ 'posts-index'|page({ category: item.slug }) }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="mobile-menu-container" v-if="showMobileMenu">
        <div class="mobile-search">
            <div class="wrapper">
                <form>
                    <input type="search" placeholder="ابحث خلال المواضيع و الفيديوهات">
                    <button type="submit">ابحث</button>
                </form>
            </div>
        </div>
        <nav class="mobile-menu">
            <div class="wrapper">
                <ul>
                    {% for item in main_menu %}
                    <li><a href="{{ 'posts-index'|page({ category: item.slug }) }}">{{ item.name }}</a></li>
                    {% endfor %}
                    <li><a href="{{ 'videos-index'|page }}">فيديوهات</a></li>
                    {% if other_menu|length %}
                    <li class="dropdown" id="mobile-dropdown">
                        <a class="dropdown-link" href="#" v-on:click="checkMobileDropdownMenu">
                            <span>المزيد</span>
                            <span class="dropdown-icon">
                                <svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6L10 11L15 6L17 7L10 14L3 7L5 6Z" fill="black"/>
                                </svg>
                            </span>
                        </a>
                        <ul class="dropdown-list" id="dropdown-list" v-if="showMobileDropdown">
                            {% for item in other_menu %}
                            <li><a href="{{ 'posts-index'|page({ category: item.slug }) }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>